@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, .bold {
  font-family: 'Poppins', sans-serif;
}

.specialBtn {
  background: #eee6d0;
  box-shadow: 0px 14px 55px rgba(98, 154, 238, 0.34);
  transition-duration: 200ms;
}

.specialBtn:hover {
  opacity: 0.8;
}

.loading {
  animation: width 5s linear infinite;
  margin-right: auto;
}

.loading1 {
  animation-delay: -4s;
}

.loading3 {
  animation-delay: -2s;
}

i {
  color: rgb(82, 177, 241);
}

@keyframes width {
  0% {
    width: 100%;
  }
  10% {
    width: 73%;
  }
  20% {
    width: 35%;
  }
  30% {
    width: 74%;
  }
  40% {
    width: 49%;
  }
  50% {
    width: 65%;
  }
  60% {
    width: 46%;
  }
  70% {
    width: 38%;
  }
  80% {
    width: 68%;
  }
  90% {
    width: 76%;
  }
  100% {
    width: 100%;
  }
}